/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Montserrat", sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f2f2f2;
}

/* CARD */
.card{
    width:19rem;
    height: 32rem;
    background: rgb(245, 231, 231);
    border-radius:2.5rem;
    overflow:hidden;
    box-shadow:0 1rem 1.5rem rgba(0,0,0,0.25);
}

/* TOP */
.card-top{
    height:12.5rem;
    background:#e47487;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-img{
    width:8rem;
    height:8rem;
    border-radius:50%;
    border:0.1rem solid white;
    overflow:hidden;
    transition:0.4s ease;
}

.profile-img:hover{
    transform:scale(1.12);
    box-shadow:0 0 1rem rgba(255,255,255,0.7);
}

.profile-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* BODY */
.card-body{
    padding:1.6rem;
    text-align:center;
    
}
.name{
    font-size:2rem;
    font-weight:700;
    font-family: Helvetica;
    margin-top: -15px;
}

.role{
    font-size:1.5rem;
    font-weight:500;
    margin-top:0.1rem;
    font-family: Arial narrow;
}

/* LINE */
.line{
    width:95%;
    margin:1rem auto;
    border:none;
    border-top:0.12rem solid #333;
}

/* ABOUT */
.about{
    font-size:0.95rem;
    line-height:1.5;
}

/* SOCIAL */
.social{
   
    margin-top:1.2rem;
    display:flex;
    justify-content:center;
    gap:2.5rem;
}

.social a{
    text-decoration:none;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.4rem;
    transition:0.3s ease;
}

.social i{
    font-size:1.8rem;
}

.social a:hover{
    transform:scale(1.15);
}

/* RESPONSIVE */
@media(max-width:480px){
    .card{
        width:17rem;
    }

    .name{
        font-size:1.4rem;
    }

    .about{
        font-size:0.9rem;
    }
}

